<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= todo.text %>
    </title>
</head>

<body>
    <h1>
        Detail of todo <%= todo.text %>
    </h1>
    <a href="/">Back</a>
    <hr>
    <table>
        <tr>
            <th>Text</th>
            <th>Done</th>
            <th>Priority</th>
            <th>Deadline</th>
            <th>Action</th>
        </tr>
        <tr>
            <td>
                <%= todo.text %>
            </td>
            <td>
                <%= todo.done ? 'yes' : 'no' %>
            </td>
            <td>
                <% if(todo.priority==="3" ){ %>
                    <span>Very high</span>
                    <% } else if(todo.priority==="2" ){ %>
                        <span>High</span>
                        <% } else { %>
                            <span>Low</span>
                            <% } %>
            </td>
            <td>
                <%= todo.deadline %>
            </td>
            <td>
                <% if (todo.done) { %>
                    <a href="/toggle/<%= todo.id %>">Undone</a>
                    <a href="/delete/<%= todo.id %>">Delete</a>
                    <% } else { %>
                        <a href="/toggle/<%= todo.id %>">Done</a>
                        <% } %>
            </td>
        </tr>
    </table>
    <hr>
    <form action="/update-name/<%=todo.id %>" method="post">
        <label for="name">Change todo name:</label>
        <input type="text" name="text" />
        <button type="submit">OK</button>
    </form>
</body>

</html>